################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/PAK-Extractor.slnx
/PAK-Extractor/x64/dfggdf
/PAK-Extractor.dir/Release
/Release
